body {
    background-color: lightblue;
}

.snowman {
    width: 10px;
    height: 10px;
    background-color: black;
    margin: auto;
    margin-top: 200px;
    border-radius: 50%;
    box-shadow: 30px 0 , /* right eye */
        
        15px 25px orange , /* nose */
        
        1px 45px 0 -3px , /* lips */
        7px 50px 0 -3px ,
        15px 51px 0 -3px ,
        23px 50px 0 -3px ,
        29px 45px 0 -3px ,
        
        15px 110px 0 2px , /* buttons */
        15px 140px 0 2px ,
        15px 170px 0 2px ,
        
        15px 27px 0 50px white , /* head */
        15px 27px 10px 50px gray ,
        
        15px 145px 0 80px white , /* body */
        15px 145px 10px 80px gray,
        
        0 700px 0 500px #9e5e15;
}